# Introduction to Python

In [ ]:
x=5
y="data science"

# Any text followed by '#' is not conisdered python code. These are called comments
# shortcut for commenting is : select the line(s) which you want to comment and then use Ctrl+/
# short cut for executing your code is shift+enter

In [ ]:
x

In [ ]:
y

In [ ]:
X

### Variable Naming


You can pretty much chose any name as a variable name, however there are few rules that you'd need to follow


* Variable names can not have spaces in between.
* They can not contain any special character except underscore [i.e. _ ]
* Variable names can not start with a number , however you can have numbers anywhere else in the variable name


In addition to these rules there are few good practices when you are naming your variables. Google python style guide  recommends following way of naming variables based on what type of variables they are.


module_name, package_name, ClassName, method_name, ExceptionName, function_name, 
GLOBAL_CONSTANT_NAME, global_var_name, instance_var_name, 
function_parameter_name, local_var_name


*Note: Its not mandatory to use underscore with long variable names , just that it makes your variable name easily readable.*

Lets see an example below , you decide yourself which variable name is more readable.

In [ ]:
isthisareadablename=3
# to break cells in two : ctrl shift -

In [ ]:
_or_this_is_more_readable_despite_being_longer=4

**Reserved Words:**


['False', 'None', 'True', 'and', 'as', 'assert', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
from=4


### variable types

In [ ]:
type(x)

In [ ]:
type(y)

In [ ]:
x="sachin"
x

Note: when assigning a string/char value to a variable it doesn't matter whether you use single quotes [''] or double quotes [""]

In [ ]:
x="5"
type(x)

In [ ]:
x+2

In [ ]:
int(x)+2

In [ ]:
x="abcd"
type(x)

In [ ]:
int(x)

In [ ]:
x="42"
int(x)

In [ ]:
print(x)
type(x)

In [ ]:
x=int(x)
type(x)

### Numeric Operations 

for simple algebaric operations , usual symbols work. Below are some examples.

In [ ]:
x=1.22
y=20
x+y

In [ ]:
x-y

In [ ]:
x*y

In [ ]:
x/y

you can do multiple operations separated by comma

In [ ]:
x+2,y+3,x+y,x**(x+y)

In [ ]:
# x^y : this is not same x**y

you need to use double asterisks for exponents as shown below

In [ ]:
x=2
y=3
x**y

In [ ]:
z=(x+y)**x - y/x
z

In [ ]:
a,b,c,d=x+2,y+3,x+y,x**(x+y)

In [ ]:
a,b,c,d

In [ ]:
a,b,c=2

You should either do this :

In [ ]:
a,b,c=2,2,2
a,b,c

Or this :

In [ ]:
a,b,c=[2,2,2]
a,b,c

Or this:

In [ ]:
a,b,c=[2]*3
a,b,c

In [ ]:
import math
math.log(x)

In [ ]:
import math as m
m.sin(x)

### Logical values and Operations

In [ ]:
x=True
y=False

In [ ]:
type(x)

In [ ]:
type(y)

In [ ]:
x and y

In [ ]:
x & y

In [ ]:
x or y

In [ ]:
x | y

In [ ]:
not x

In [ ]:
!x

### String values and operations

In [ ]:
x = 'Bombay'
y = "Banglore"
x,y

In [ ]:
len(x),len(y)

In [ ]:
x+y

In [ ]:
x+" "+"fnbnv"+y

In [ ]:
z=x+" to "+y
z

In [ ]:
z.upper()

In [ ]:
z.lower()

In [ ]:
z.capitalize()

In [ ]:
len(z)

In [ ]:
z.rjust(10)
# 20 is string length after padding with space

In [ ]:
z.ljust(20)

In [ ]:
z.center(21)

In [ ]:
z

In [ ]:
z="   "+z+"    "
z

In [ ]:
z.lstrip()

In [ ]:
z.rstrip()

In [ ]:
z.strip()

In [ ]:
z

In [ ]:
print(z)
z.replace("B","$#@")

In [ ]:
## can i remove all white spaces . find out if a function like compress is there in python
## how to use lists , join and split to remove all spaces in a string in python

In [ ]:
print(z)
z=z.strip()
z

In [ ]:
print(z)
k=z.split("a")

In [ ]:
print(k)

In [ ]:
print(type(k))

In [ ]:
a,b,c=k

In [ ]:
b

function split, splits a string at given separator . Result of this is a list [ which we will learn about in some time]

## Subsetting a string with indices

For extracting a part of the string, we don’t need a special function. We can simple indexing using square brackets “[]”. While using this indexing , we need to keep few things in mind

* counting starts with 0. first character gets counted as zero
* [a:b] , means starting at ath position and extracting until (b-1)th position 
* [a:] , means starting at ath position till end
* [:a], means starting at the beginning until (a-1)th position

negative sign with indices mean counting from right instead of natural left.

* [:-a], means starting at the beginning and going up til ath position from end. counting from end also starts with 0.
* [-a:], means starting at (a-1)th character from the end and going up till last character.
* [a:-b], means starting at ath character at the beginning and going till bth position from end
* [-a:-b], means starting at (a+1)th character from the end and going up till bth position from end

Lets see these in action

In [ ]:
x='somethingtosay'

In [ ]:
print(z)
z[2:10]

In [ ]:
print(z)
z[3:]

In [ ]:
print(z)
z[:3]

In [ ]:
print(z)
z[:-3]

In [ ]:
print(z)
z[-3:]

* [:-a], means starting at the beginning and going up til ath position from end. counting from end also starts with 0.
* [-a:], means starting at (a-1)th character from the end and going up till last character.

In [ ]:
print(z)
z[3:-3]

In [ ]:
print(z)
z[-6:-2]

Other useful functions that we will explore for string operations : count , find & split.


functions that i want you to explore on your own further are family of function for checking whether a particular piece of string belongs to a certain type or not. Here are those functions :

```
Ex: Find out what following functions do : isalnum,isalpha,isdigit,islower,isupper. Discuss this on Q&A forum , if you face any issue in figuring out what these functions do.
```

In [ ]:
print(z)
z.count("B")

Did you notice that the count function is case sensitive. "b" is not considered. 

```
Ex : Is there an option within function count using which we can make the count case insensitive.

```

In [ ]:
print(z)
z.find("a")

```
Ex : find out how can we change search range for function find

```

### Writing Conditions



* checking equality : "=="
* in-equality : "!="
* greater than : ">"
* less than : "<"
* greater than or equal to : ">="
* less than or equal to : "<="

In [ ]:
x=34
y=32

x==y

In [ ]:
x!=y

In [ ]:
x>y

In [ ]:
x<y

In [ ]:
x>=y

In [ ]:
x<=y

In [ ]:
x="as"
y="assignment"

x in y

In [ ]:
x not in y

In [ ]:
x > y

In [ ]:
x="B"
y="Aaajsa"
x>y

### Lists

In [ ]:
x = [1,2,3,70,-10,0,99,"a","b","c"]
x[3:-5]

selection and slicing works pretty much like strings we saw earlier here also counting starts from 0. Lets look at few examples for the same.

In [ ]:
type(x)

In [ ]:
x[0:4:2]

In [ ]:
x[2::3]

In [ ]:
print(x)
x[3:7]

In [ ]:
print(x)
x[3:]

In [ ]:
print(x)
x[:3]

In [ ]:
print(x)
x[3:-3]

In [ ]:
print(x)
x[1:-3:2] # third argument here is step

In [ ]:
print(x)
x[1::2]

while accessing the elements with position , we can do replacement/substitution of the values too. Here is how:

In [ ]:
print(x)

x[2]

In [ ]:
x[2]="!!!"
x

In case multiple assignment, value is then treated as a list with each char as individual element

In [ ]:
print(x)
x[2:4]=["bipin"]
print(x)

For a string to be treated as a single word instead of a char list you need to wrap it in a list as shown below

In [ ]:
x=[23,45,67,2,5]

x[2:4]

In [ ]:
print(x)
x[2:4]=["bipin","new"]
print(x)

In [ ]:
print(x)
x.append("diff")
print(x)

In [ ]:
print(x)
x.append([1,2,3])
print(x)

In [ ]:
x.append(1,3,4)

In [ ]:
print(x)
x.extend([1,2,3])
print(x)

In [ ]:
type(x)

In [ ]:
print(x)
x.insert(2,"another")
print(x)

In [ ]:
print(x)
x=x+[3,4,5]
print(x)

In [20]:
print(x)
x.pop()

print(x)

[23, 45, 'another', 'bipin', 'new', 5, 'diff', [1, 2, 3], 1, 2, 3, 1, 2, 3, 3, 4]
[23, 45, 'another', 'bipin', 'new', 5, 'diff', [1, 2, 3], 1, 2, 3, 1, 2, 3, 3]

In [21]:
print(x)
x.pop(3)
print(x)

[23, 45, 'another', 'bipin', 'new', 5, 'diff', [1, 2, 3], 1, 2, 3, 1, 2, 3, 3]
[23, 45, 'another', 'new', 5, 'diff', [1, 2, 3], 1, 2, 3, 1, 2, 3, 3]

In [22]:
print(x)
x.remove("another")
print(x)

[23, 45, 'another', 'new', 5, 'diff', [1, 2, 3], 1, 2, 3, 1, 2, 3, 3]
[23, 45, 'new', 5, 'diff', [1, 2, 3], 1, 2, 3, 1, 2, 3, 3]

In [23]:
x.remove("another")

ValueError: list.remove(x): x not in list

In [ ]:
print(x)
x.remove(3)
print(x)

In [24]:
print(x)
x.pop(2:5)
print(x)

SyntaxError: invalid syntax (<ipython-input-24-e2f53fda0817>, line 2)

```
Ex: what if there are multiple occurences of the value which you are trying to remove. Is there a way to remove multiple values at once or a value at a specific position?
```

In [38]:
a=list(range(0,10,1))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
b=list(range(5,10))
b

[5, 6, 7, 8, 9]

In [ ]:
x=[(a-5)**2 for a in range(10)]
print(x)

In [ ]:
x.sort() # sorts in place
print(x)
# how to sort in descending manner

In [ ]:
x.reverse() # reverses in place
print(x)

### For Loops
### AAAA
###    BBBB
###    CCCC
### DDDD

In [42]:
for i  in [1,5,6]:
    print(i)
    print(i+2)

1
3
5
7
6
8

In [43]:
for i  in [1,5,6]:
    print(i)
print(i+2)

1
5
6
8

In [45]:
for i  in [1,5,6]:
    
print(i)

IndentationError: expected an indented block (<ipython-input-45-7a033333a50e>, line 3)

In [47]:
for j in range(15):
    print(j)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [48]:
for i in [1,5,3]:
    print(i**2)

1
25
9

In [49]:
[x**2 for x in [1,5,3]]

[1, 25, 9]

In [50]:
[5*i for i in range(1,11)]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [52]:
['+91-'+i for i in ['878','9989','8767','8878']]

['+91-878', '+91-9989', '+91-8767', '+91-8878']

In [ ]:
a=[3,4,5,9,10]
a[1:5:3]

In [60]:
[print("+91") for i in range(1,11)]

+91
+91
+91
+91
+91
+91
+91
+91
+91
+91

[None, None, None, None, None, None, None, None, None, None]

In [ ]:
cities = ["delhi","Banglore","mumbai","pune","kolkata","chennai"]

In [ ]:
print(len(cities[0]))
print(len(cities[1]))
print(len(cities[2]))
print(len(cities[3]))

In [ ]:
for i in [1,4]:
    print("Test " , cities[i])
    print("Hello")

In [ ]:
for i in range(4):
    print(len(cities[i]))

Couple of things to discuss here .

* iterator doesnt have to be named "i" , it can be anything.
* Value list doesnt have to be a list of coninuous number sequence, It can be a number list [numbers in any order], character list or something else too
* iterator value need not be used inside the loop

lets look at another way of writing that for loop that we just saw:

In [ ]:
cities

In [ ]:
for city in [cities[1],cities[4],cities[5]]:
#for i in len(cities)<5: 
    #print(cities[i])
    #print(city)

*Note: print used to work without parenthesis in previous versions of python. You might find many examples online like that.*

### List Comprehensions with For Loops

In [ ]:
x=range(8)

 From this we want to exract remainder for each value of x when that gets divided by 2.

operator `%` calculates remainder. a%2 will caclulate remiander when a is dvivided by 2.

In [61]:
100%3

1

In [ ]:
x=range(8)
x

In [ ]:
x_mod_2=[]
x_mod_2
a=[3,4]
a.append(5)
a

In [ ]:
x=range(8)

x_mod_2=[]

for a in x:
    x_mod_2.append(a%2)
    print("a in ",a,"x mod 2 list is ",x_mod_2)

x_mod_2

In [ ]:
for i in range(5):
    for j in range(4):
        print(i*j)

In [ ]:
length=["name " + city + " length " + str(len(city)) for city in cities]
length
mult23=[23*x for x in [1,2,3,4,5,6,7,8,9,10]]
mult23

In [ ]:
newlist=[a*2 for a in range(5)]
newlist

In [ ]:

x_mod_2=[a%2 for a in x]
x_mod_2

In [ ]:
print(x)

In [ ]:
import math

In [ ]:
x_ls2=[math.log(a) for a in x if a%2 !=0]

print(x_ls2)

### Writing your own functions in python

In [63]:
def add(x=10,y=0):
    return x+y

add(10)
#print(add())

10

In [64]:
def add_new(x,y):
    return x+y

add_new(10)

TypeError: add_new() missing 1 required positional argument: 'y'

In [65]:
add_new(10,15)

25

In [74]:
def greet(time=9):
    if time < 12:
        return "Good Morning"
    else:
        return "Good day"

a=greet(-4)
a

'Good Morning'

In [75]:
def greet(time=9):
    if time < 12:
        print("Good Morning")
    else:
        print("Good day")

b=greet(-4)
b

Good Morning

In [78]:
print(b)

None

In [79]:
def greet_elif(time=9):
    if time < 12:
        return "Good Morning"
    elif time < 16:
        return "Good afternoon"
    elif time < 20:
        return "Good evening"
    else:
        return "Good night"

greet_elif(21)

'Good night'

In [80]:
greet_elif(17)

'Good evening'

In [81]:
greet_elif(13)

'Good afternoon'

In [82]:
def rating(stars):
    if stars <= 5:
        return "High"
    elif stars < 3:
        return "Low"
    else:
        return "Medium"

rating(2)

'High'

In [ ]:
rating()

In [85]:
def rating(stars):
    if stars >= 3 and stars <= 5:
        print("High")
    if stars < 3:
        print("Low")
    else:
        print("Medium")

rating(2)

Low

In [ ]:
def show(name):
    return "Hello " + name
print(show("Edvancer"))

In [ ]:
# writing a function in python

def my_func(x):
    if x%2!=0:
        return(math.log(x))
    else:
        return(x)

In [ ]:
my_func(19)

In [ ]:
x

In [ ]:
def fctrl(n=1):
    fact=1
    for i in range(1,n+1):
        fact = fact * i
        print("when i is ",i," fact is ",fact)
    return fact
print(fctrl(6))

In [ ]:
def fact_rec(n):
    if n == 1:
        return 1
    else:
        return n*fact_rec(n-1)
print(fact_rec(4))

In [ ]:
print(fact_rec(10))

In [ ]:
x_ls3=[my_func(a) for a in x]
x_ls3

In [ ]:
def mysum(x=10,y=10):
	return(2*x+3*y)

In [ ]:
mysum(2,3)

In [ ]:
mysum(2)

In [ ]:
mysum()

In [ ]:
mysum(,2)

In [ ]:
mysum(y=4)

In [ ]:
print(mysum(y=-10))
mysum(y=100,x=1)

### Dictionaries

In [1]:
d= {"newkey":"nasir","animal":"dog","earth":1,"list":[1,2,3]}

In [17]:
b=d.keys()

TypeError: 'dict_keys' object is not subscriptable

In [3]:
d.values()

dict_values(['nasir', 'dog', 1, [1, 2, 3]])

In [6]:
type(d)
type(d.keys())

dict_keys

In [7]:
d["newkey"]

'nasir'

In [8]:
d['fish']

KeyError: 'fish'

In [9]:
# add new key value pair
d['newkeyvalue']="value"
print(d)

{'newkey': 'nasir', 'animal': 'dog', 'earth': 1, 'list': [1, 2, 3], 'newkeyvalue': 'value'}

In [10]:
# removing a key value pair
del d['newkeyvalue']
print(d)

{'animal': 'dog', 'earth': 1, 'list': [1, 2, 3], 'newkeyvalue': 'value'}

In [11]:
# element access in loop
for elem in d:
	print('value for key:%s ' %(elem) ,'is :%s' %(d[elem]))

value for key:animal  is :dog
value for key:earth  is :1
value for key:list  is :[1, 2, 3]
value for key:newkeyvalue  is :value

In [12]:
d.items()

dict_items([('animal', 'dog'), ('earth', 1), ('list', [1, 2, 3]), ('newkeyvalue', 'value')])

In [13]:
for a,b in d.items():
	print('value for key:%s is %s' %(a,b))

value for key:animal is dog
value for key:earth is 1
value for key:list is [1, 2, 3]
value for key:newkeyvalue is value

### Sets

In [18]:
animals = {'cat', 'dog','cat'}
animals

{'cat', 'dog'}

In [19]:
'cat' in animals

True

In [20]:
'fish' in animals

False

In [21]:
animals.add('fish')
print(animals)

{'cat', 'fish', 'dog'}

In [22]:
animals.add('cat')   
print(animals)

{'cat', 'fish', 'dog'}

In [23]:
animals.add('cow')
print(animals)

{'cat', 'cow', 'fish', 'dog'}

In [24]:
animals.remove('cat')
print(animals)

{'cow', 'fish', 'dog'}

In [28]:
for animal in animals:
	print(animal)

fish
cat
dog
here
there

In [27]:
animals = {'cat', 'dog', 'fish','here','there'}
animals

{'cat', 'dog', 'fish', 'here', 'there'}

In [29]:
a={1,2,3,4,5,6}
b={4,5,6,7,8,9}

In [30]:
c=a.union(b)
c

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [31]:
a.intersection(b)

{4, 5, 6}

In [32]:
a.issubset(b)

False

In [33]:
a.issubset(c)

True

In [34]:
c.issuperset(b)

True

Difference between function symmetric_difference and difference is as follows:

* s.difference(t) :	new set with elements in s but not in t
* s.symmetric_difference(t) :  new set with elements in either s or t but not both

lets see with our own examples :

In [35]:
print(a)
print(b)
a.difference(b)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

{1, 2, 3}

In [36]:
b.difference(a)

{7, 8, 9}

In [37]:
print(a)
print(b)
a.symmetric_difference(b)

{1, 2, 3, 4, 5, 6}
{4, 5, 6, 7, 8, 9}

{1, 2, 3, 7, 8, 9}

### Tuples

In [38]:
t = 12345, 54321, 'hello!'
t

(12345, 54321, 'hello!')

In [ ]:
t =( 12345, 54321, 'hello!') # same thing
t

In [39]:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [ ]:
t

In [40]:
u[1]
newset = {'test',t}
newset
t = (1, 2)
t

(1, 2)

In [41]:
newtuple = ('test',newset)
newtuple

('test', {(12345, 54321, 'hello!'), 'test'})

In [43]:
t[0]=21 # you can not reassign
t = t , 8, 9

TypeError: 'tuple' object does not support item assignment

In [45]:
t = t , 8, 9
t

(((1, 2), 8, 9), 8, 9)

In [46]:
v = ([1, 2, 3], [3, 2, 1])

In [48]:
v[0]=21

TypeError: 'tuple' object does not support item assignment

In [53]:
n = 1,[4,5,6]
n

(1, [4, 5, 6])

In [54]:
type(n)

tuple

In [55]:
n[0]=5

TypeError: 'tuple' object does not support item assignment

In [56]:
n[1][1]=7

In [59]:
n[0][0]=2

TypeError: 'int' object does not support item assignment

In [49]:
print(v)
v[0][0]=21
print(v)

([21, 2, 3], [3, 2, 1])
([21, 2, 3], [3, 2, 1])

In [51]:
type(v)

tuple

### Writing your own Classes:

*Note :* you can safely skip this portion if you feel overwhelmed at any point in it. We'll not be using this in the course for quite some time.

In [ ]:
# we start with keyword class and then give our class a name

class Point(object):

    def __init__(self, x, y):
        '''Defines x and y variables'''
        self.X = x
        self.Y = y

        # self is used as reference to internal objects that get 
        # created using values supplied from outside 
        # default function _init_ is used to create internal objects
        # which can be accessed by other functions in the class

    def length(self):
        return(math.sqrt(self.X**2+self.Y**2))
    
    # all function inside a class will have access to internal objects 
    # created inside the class
    # you can understand self to be default Point class object
    
    def distance(self, other):
        dx = self.X - other.X
        dy = self.Y - other.Y
        return(math.sqrt(dx**2 + dy**2))
    
    # a function inside the class can take input multiple objects
    # of the same class

In [ ]:
z=Point(2,3)
y=Point(4,10)

In [ ]:
type(y)

In [ ]:
type(z)

In [ ]:
print(z.X)
print(z.Y)

you can apply function on and between objects of this class Point by using syntax *clas_name.function* . example given below

In [ ]:
print(Point.distance(y,z))
print(Point.length(y))
print(Point.length(z))

We'll conclude our discussion here. In the next module we'll look at some packages in python which enable us to do data sepcific task and brings us closer to be able to start doing machine learning tasks in python.

Prepared By : Lalit Sachan (lalit.sachan@edvancer.in)

In case of any doubts or errata alert; please take to QA forum for discussion. 

Doubts will be discussed in live class sessions too. [This doesnt apply for self paced students]