# Linear Regression

In [1]:
import pandas as pd 
import numpy as np

In [1]:
train_file=r"D:/A1...Data Science/02.Python ML/DATA/loan_data_train.csv"
test_file=r"D:/A1...Data Science/02.Python ML/DATA/loan_data_test.csv"


ld_train=pd.read_csv(train_file)
ld_test=pd.read_csv(test_file)

In [2]:
ld_train.head(10)
#ld_train.shape

,ID,Amount.Requested,Amount.Funded.By.Investors,Interest.Rate,Loan.Length,Loan.Purpose,Debt.To.Income.Ratio,State,Home.Ownership,Monthly.Income,FICO.Range,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length
0,79542.0,25000,25000,18.49%,60 months,debt_consolidation,27.56%,VA,MORTGAGE,8606.56,720-724,11,15210,3.0,5 years
1,75473.0,19750,19750,17.27%,60 months,debt_consolidation,13.39%,NY,MORTGAGE,6737.50,710-714,14,19070,3.0,4 years
2,67265.0,2100,2100,14.33%,36 months,major_purchase,3.50%,LA,OWN,1000.00,690-694,13,893,1.0,< 1 year
3,80167.0,28000,28000,16.29%,36 months,credit_card,19.62%,NV,MORTGAGE,7083.33,710-714,12,38194,1.0,10+ years
4,17240.0,24250,17431.82,12.23%,60 months,credit_card,23.79%,OH,MORTGAGE,5833.33,730-734,6,31061,2.0,10+ years
5,32737.0,5400,5375,8.90%,36 months,small_business,6.27%,OH,RENT,3000.00,785-789,2,90,2.0,NaN
6,71685.0,16000,16000,22.47%,60 months,credit_card,11.27%,CA,RENT,4791.67,665-669,5,8474,0.0,2 years
7,38028.0,6400,6400,7.51%,36 months,major_purchase,9.58%,IL,RENT,6400.00,735-739,11,12306,1.0,< 1 year
8,32119.0,24000,23772.15,12.99%,60 months,home_improvement,15.54%,NC,MORTGAGE,8333.33,740-744,24,56984,0.0,NaN
9,84563.0,8000,8000,7.62%,36 months,other,0%,NC,MORTGAGE,3500.00,765-769,7,0,1.0,NaN

In [14]:
AA= ld_train.describe()
AA.loc['newrow'] = AA.loc['min']+AA.loc['max']
AA

                   ID  Monthly.Income  Inquiries.in.the.Last.6.Months
count     2199.000000     2197.000000                     2197.000000
mean     52024.256480     5727.459290                        0.898498
std      30223.972207     4073.529708                        1.219223
min         10.000000      588.500000                        0.000000
25%      26361.500000     3458.000000                        0.000000
50%      51302.000000     5000.000000                        0.000000
75%      78386.500000     6883.330000                        1.000000
max     104202.000000   102750.000000                        9.000000
newrow  104212.000000   103338.500000                        9.000000

In [20]:
AA.index = np.arange(1,10)
AA

              ID  Monthly.Income  Inquiries.in.the.Last.6.Months
1    2199.000000     2197.000000                     2197.000000
2   52024.256480     5727.459290                        0.898498
3   30223.972207     4073.529708                        1.219223
4      10.000000      588.500000                        0.000000
5   26361.500000     3458.000000                        0.000000
6   51302.000000     5000.000000                        0.000000
7   78386.500000     6883.330000                        1.000000
8  104202.000000   102750.000000                        9.000000
9  104212.000000   103338.500000                        9.000000

In [ ]:
ID

In [ ]:
ld_train.head()

In [7]:
# lets combine the data for data prep

ld_test['Interest.Rate']=np.nan
ld_train['data']='train'
ld_test['data']='test'
ld_test=ld_test[ld_train.columns]
ld_all=pd.concat([ld_train,ld_test],axis=0)

In [9]:
ld_all.head()
ld_all.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2500 entries, 0 to 299
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ID                              2499 non-null   float64
 1   Amount.Requested                2499 non-null   object
 2   Amount.Funded.By.Investors      2499 non-null   object
 3   Interest.Rate                   2200 non-null   object
 4   Loan.Length                     2499 non-null   object
 5   Loan.Purpose                    2499 non-null   object
 6   Debt.To.Income.Ratio            2499 non-null   object
 7   State                           2499 non-null   object
 8   Home.Ownership                  2499 non-null   object
 9   Monthly.Income                  2497 non-null   float64
 10  FICO.Range                      2500 non-null   object
 11  Open.CREDIT.Lines               2496 non-null   object
 12  Revolving.CREDIT.Balance        2497 non-null   object
 13  Inquiries.in.the.Last.6.Months  2497 non-null   float64
 14  Employment.Length               2422 non-null   object
 15  data                            2500 non-null   object
dtypes: float64(3), object(13)
memory usage: 332.0+ KB

In [10]:
ld_all.dtypes

ID                                float64
Amount.Requested                   object
Amount.Funded.By.Investors         object
Interest.Rate                      object
Loan.Length                        object
Loan.Purpose                       object
Debt.To.Income.Ratio               object
State                              object
Home.Ownership                     object
Monthly.Income                    float64
FICO.Range                         object
Open.CREDIT.Lines                  object
Revolving.CREDIT.Balance           object
Inquiries.in.the.Last.6.Months    float64
Employment.Length                  object
data                               object
dtype: object

In [ ]:
# ID,Amount.Funded.By.Investors : drop 
# Interest Rate , Debt to income ratio : remove % and then to numeric
# Amount.Requested , 'Open.CREDIT.Lines','Revolving.CREDIT.Balance': convert it to numeric 
# FICO.Range : replace it by a numeric column which is average of the range
# Employment Length : convert to number
# Loan Lenth, Loan Purpose , State , Home ownership: dummies for categories with good occurence rate

In [11]:
ld_all.drop(['ID','Amount.Funded.By.Investors'],axis=1,inplace=True)

In [12]:
for col in ['Interest.Rate','Debt.To.Income.Ratio']:
    ld_all[col]=ld_all[col].str.replace("%","")

In [13]:
for col in ['Amount.Requested', 'Interest.Rate','Debt.To.Income.Ratio',
            'Open.CREDIT.Lines','Revolving.CREDIT.Balance']:
    ld_all[col]=pd.to_numeric(ld_all[col],errors='coerce')

In [14]:
k=ld_all['FICO.Range'].str.split("-",expand=True).astype(float)

ld_all['fico']=0.5*(k[0]+k[1])

del ld_all['FICO.Range']
#ttt=pd.Series()
#p=ld_all['FICO.Range'].str.split("-",expand=True)
#type(p[0])
#ttt
#t

In [ ]:
#pd.to_numeric("aa",errors='coerce')

In [15]:
ld_all['Employment.Length'].value_counts()

10+ years    653
< 1 year     249
2 years      243
3 years      235
5 years      202
4 years      191
1 year       177
6 years      163
7 years      127
8 years      108
9 years       72
.              2
Name: Employment.Length, dtype: int64

In [16]:
ld_all['Employment.Length']=ld_all['Employment.Length'].str.replace('years',"")

ld_all['Employment.Length']=ld_all['Employment.Length'].str.replace('year',"")

ld_all['Employment.Length']=np.where(ld_all['Employment.Length'].str[:2]=="10",10,ld_all['Employment.Length'])

ld_all['Employment.Length']=np.where(ld_all['Employment.Length'].str[0]=="<",0,ld_all['Employment.Length'])

ld_all['Employment.Length']=pd.to_numeric(ld_all['Employment.Length'],errors='coerce')

In [17]:
# Notice that to apply string function on pandas data frame columns you need to str attribute
cat_cols=ld_all.select_dtypes(['object']).columns

In [18]:
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership', 'data'], dtype='object')

In [19]:
cat_cols=cat_cols[:-1]

In [20]:
cat_cols

Index(['Loan.Length', 'Loan.Purpose', 'State', 'Home.Ownership'], dtype='object')

In [21]:
ld_all['Loan.Purpose'].value_counts()

debt_consolidation    1307
credit_card            444
other                  200
home_improvement       152
major_purchase         101
small_business          87
car                     50
wedding                 39
medical                 30
moving                  29
vacation                21
house                   20
educational             15
renewable_energy         4
Name: Loan.Purpose, dtype: int64

In [24]:
# you can use following method if you want to ignore categories with too low frequencies ,
#in next section for logistic regression we will be using  pandas' get dummies function. 
# you can work with either of these . 
#ignoring categories with low frequencies however will result in fewer columns without 
# affecting model performance too much .

for col in cat_cols:
    #print(col,"first loop")
    freqs=ld_all[col].value_counts()
    #print(col,freqs,"first loop frequency")
    k=freqs.index[freqs>20][:-1]
    #print("value of ", k)
    #print(k, col,freqs,"first loop frequency k")
    for cat in k:
        name=col+'_'+cat
        ld_all[name]=(ld_all[col]==cat).astype(int)
        #print(name)
    del ld_all[col]
    print(col)

Loan.Length first loop

KeyError: 'Loan.Length'

In [23]:
ld_all.head()

,Amount.Requested,Interest.Rate,Debt.To.Income.Ratio,Monthly.Income,Open.CREDIT.Lines,Revolving.CREDIT.Balance,Inquiries.in.the.Last.6.Months,Employment.Length,data,fico,...,State_MO,State_NV,State_OR,State_SC,State_WI,State_KY,State_LA,State_KS,Home.Ownership_MORTGAGE,Home.Ownership_RENT
0,25000.0,18.49,27.56,8606.56,11.0,15210.0,3.0,5.0,train,722.0,...,0,0,0,0,0,0,0,0,1,0
1,19750.0,17.27,13.39,6737.50,14.0,19070.0,3.0,4.0,train,712.0,...,0,0,0,0,0,0,0,0,1,0
2,2100.0,14.33,3.50,1000.00,13.0,893.0,1.0,0.0,train,692.0,...,0,0,0,0,0,0,1,0,0,0
3,28000.0,16.29,19.62,7083.33,12.0,38194.0,1.0,10.0,train,712.0,...,0,1,0,0,0,0,0,0,1,0
4,24250.0,12.23,23.79,5833.33,6.0,31061.0,2.0,10.0,train,732.0,...,0,0,0,0,0,0,0,0,1,0

In [25]:
ld_all.shape

(2500, 51)

In [26]:
ld_all.isnull().sum()

Amount.Requested                     5
Interest.Rate                      300
Debt.To.Income.Ratio                 1
Monthly.Income                       3
Open.CREDIT.Lines                    9
Revolving.CREDIT.Balance             5
Inquiries.in.the.Last.6.Months       3
Employment.Length                   80
data                                 0
fico                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_AL                             0
State_MN                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_KS                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [27]:
for col in ld_all.columns:
    if (col not in ['Interest.Rate','data'])& (ld_all[col].isnull().sum()>0):
        ld_all.loc[ld_all[col].isnull(),col]=ld_all.loc[ld_all['data']=='train',col].mean()

In [28]:
ld_all['Employment.Length'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
295    False
296    False
297    False
298    False
299    False
Name: Employment.Length, Length: 2500, dtype: bool

In [29]:
ld_all.loc[ld_all['Employment.Length'].isnull(),'Employment.Length']

Series([], Name: Employment.Length, dtype: float64)

In [30]:
ld_all.isnull().sum()

Amount.Requested                     0
Interest.Rate                      300
Debt.To.Income.Ratio                 0
Monthly.Income                       0
Open.CREDIT.Lines                    0
Revolving.CREDIT.Balance             0
Inquiries.in.the.Last.6.Months       0
Employment.Length                    0
data                                 0
fico                                 0
Loan.Length_36 months                0
Loan.Purpose_debt_consolidation      0
Loan.Purpose_credit_card             0
Loan.Purpose_other                   0
Loan.Purpose_home_improvement        0
Loan.Purpose_major_purchase          0
Loan.Purpose_small_business          0
Loan.Purpose_car                     0
Loan.Purpose_wedding                 0
Loan.Purpose_medical                 0
Loan.Purpose_moving                  0
State_CA                             0
State_NY                             0
State_TX                             0
State_FL                             0
State_IL                             0
State_GA                             0
State_PA                             0
State_NJ                             0
State_VA                             0
State_MA                             0
State_OH                             0
State_MD                             0
State_NC                             0
State_CO                             0
State_WA                             0
State_CT                             0
State_AZ                             0
State_MI                             0
State_AL                             0
State_MN                             0
State_MO                             0
State_NV                             0
State_OR                             0
State_SC                             0
State_WI                             0
State_KY                             0
State_LA                             0
State_KS                             0
Home.Ownership_MORTGAGE              0
Home.Ownership_RENT                  0
dtype: int64

In [31]:
ld_train=ld_all[ld_all['data']=='train']
del ld_train['data']
ld_test=ld_all[ld_all['data']=='test']
ld_test.drop(['Interest.Rate','data'],axis=1,inplace=True)

/Users/ed/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [32]:
del ld_all

In [33]:
from sklearn.model_selection import train_test_split

In [34]:
ld_train1,ld_train2=train_test_split(ld_train,test_size=0.2,random_state=2)

In [35]:
ld_train.shape

(2200, 50)

In [36]:
ld_train1.shape

(1760, 50)

In [37]:
ld_train2.shape

(440, 50)

In [38]:
# Notice that only train data is used for imputing missing values in both train and test 

x_train1=ld_train1.drop('Interest.Rate',axis=1)
y_train1=ld_train1['Interest.Rate']

In [39]:
from sklearn.linear_model import LinearRegression

In [40]:
lm=LinearRegression()

In [41]:
lm.fit(x_train1,y_train1)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [42]:
x_train1.shape

(1760, 49)

In [43]:
lm.intercept_

75.9212141359478

In [44]:
list(zip(x_train1.columns,lm.coef_))

[('Amount.Requested', 0.00015602405153877186),
 ('Debt.To.Income.Ratio', -0.003938504173777158),
 ('Monthly.Income', -2.6568573569170736e-05),
 ('Open.CREDIT.Lines', -0.039922608340240945),
 ('Revolving.CREDIT.Balance', -3.923647858838919e-06),
 ('Inquiries.in.the.Last.6.Months', 0.3361172111313311),
 ('Employment.Length', 0.0349936718945103),
 ('fico', -0.08667701121950822),
 ('Loan.Length_36 months', -3.143747246950592),
 ('Loan.Purpose_debt_consolidation', -0.46739356903559237),
 ('Loan.Purpose_credit_card', -0.6069873604061792),
 ('Loan.Purpose_other', 0.44417142270192733),
 ('Loan.Purpose_home_improvement', -0.3611899849181419),
 ('Loan.Purpose_major_purchase', -0.09589524932665638),
 ('Loan.Purpose_small_business', 0.06800548772823811),
 ('Loan.Purpose_car', 0.025259628036013893),
 ('Loan.Purpose_wedding', -0.779154265005644),
 ('Loan.Purpose_medical', -0.4281152109954953),
 ('Loan.Purpose_moving', 1.2845276544595716),
 ('State_CA', -0.21159715256759293),
 ('State_NY', -0.12777976346385944),
 ('State_TX', 0.4656519996969049),
 ('State_FL', 0.08536509194007688),
 ('State_IL', -0.6478521077890976),
 ('State_GA', -0.028715232683424435),
 ('State_PA', -0.5531491923550254),
 ('State_NJ', -0.4252715824292991),
 ('State_VA', -0.1900182794302424),
 ('State_MA', 0.09032034036316791),
 ('State_OH', -0.36139403402199943),
 ('State_MD', -0.0166147969097057),
 ('State_NC', -0.3012520492515626),
 ('State_CO', -0.05643938739112131),
 ('State_WA', -0.24431943682020324),
 ('State_CT', 0.4450659067910986),
 ('State_AZ', 0.2647218526843679),
 ('State_MI', -0.1581658355736979),
 ('State_AL', -0.32176623527151654),
 ('State_MN', -0.07658290397396375),
 ('State_MO', -0.4320941840325308),
 ('State_NV', -0.12433340941261034),
 ('State_OR', 0.1202482945947619),
 ('State_SC', 0.02477134526043881),
 ('State_WI', -0.16506920267021277),
 ('State_KY', 0.2692286032568502),
 ('State_LA', -0.0487968799518559),
 ('State_KS', 0.2442429179644846),
 ('Home.Ownership_MORTGAGE', -0.4927899396352776),
 ('Home.Ownership_RENT', -0.22835804629261117)]

In [45]:
x_train2=ld_train2.drop('Interest.Rate',axis=1)

In [46]:
predicted_ir=lm.predict(x_train2)

In [47]:
predicted_ir

array([18.96007625, 15.68099596, 10.14154029, 10.80537547, 16.09510115,
       13.28266455, 14.15627793, 13.59490966, 17.25381424,  7.74671329,
       13.96084005, 14.15976694, 14.5116874 ,  8.41303044, 16.02214589,
       15.53857845, 14.60187497, 11.2164128 , 17.11027588,  7.525951  ,
       17.49182743, 14.37980908, 12.34682825,  9.19881096, 17.10446457,
       13.88671969,  7.53464716, 10.18960852,  6.82742392, 15.97550678,
       10.93625928,  9.86962182, 12.52599367, 11.54186066, 12.81539187,
       13.69385332,  6.97157344, 15.70964264,  3.85555035, 13.97126418,
        8.7820166 , 15.62504435, 13.64099551, 12.45314658, 10.63749612,
        9.46725306,  7.65609584, 13.29654221, 17.16652983, 17.13135764,
        1.91783148, 20.17388851, 11.03136906, 15.1718277 ,  9.22543667,
       11.9245573 , 13.85420737, 14.50177037, 13.08240117, 16.13305406,
       17.72461292, 14.35884901, 15.47805815, 13.08037347, 13.71118587,
       15.25975869, 16.82296199, 12.24692511, 13.55408036, 14.56601405,
       11.50537181, 13.6575852 , 10.85312201, 14.47557573, 14.91290069,
       12.51992752, 13.21660203, 13.77757598,  9.13309835, 13.30493889,
       18.15692975, 10.32645488, 12.43881397, 15.64932644, 12.9965591 ,
       10.55714062,  9.64766166, 11.74864374, 18.08736525,  9.29630207,
       12.89456147, 11.89903722, 11.01259552, 14.9835072 , 14.14468308,
       15.5903446 , 16.3757485 , 14.88777374, 14.37878602,  9.47530133,
       10.64734788, 18.54390518, 16.25932021, 12.98463018, 15.82074388,
       16.0429134 ,  7.08779   , 12.25521167, 14.00546648, 14.15118731,
       11.83425417, 10.05791253, 16.08672399, 13.22901136,  9.52653744,
       15.78944869, 16.1279028 , 16.013182  ,  4.40914623, 12.78553042,
       19.44490532, 14.90863783,  5.74925524, 13.83170649, 14.08728827,
       15.49811007,  9.14383038,  6.84992147, 12.62385746, 13.31907118,
       15.21669833, 13.41119401, 10.90641154, 10.10794664, 15.13731309,
       14.15226582,  7.67988916,  5.59805709,  5.96916776, 15.76080354,
       17.78813282, 21.6786382 , 12.03140063, 13.8477381 , 13.83803473,
        9.38244978, 15.20813663, 12.42388157, 14.08163924, 12.61241723,
       14.30154964,  7.97131897, 14.15905458, 12.6351854 , 15.27875879,
       15.76418483,  6.59069349, 12.06378604, 15.5057718 , 10.64764495,
        4.92433384, 15.41192752, 14.92456886, 15.27487053, 11.46735965,
       15.45653546,  9.42268418, 15.70339076, 15.46843147,  6.56466563,
       10.31352389, 10.62372602, 10.79319581, 11.33693759, 13.96313009,
       13.04057629, 14.44916535, 13.54448207, 14.33220364,  9.98796736,
       17.42700234,  5.43116985, 13.61715446,  9.60431496, 11.92663518,
       12.62862345, 13.42984959, 10.15834668, 19.22252045, 17.84803297,
       14.53416164, 16.21039382, 16.87976003,  9.15502837, 15.18740849,
       10.33317253,  6.96239989, 19.31860691, 14.69900148, 13.28469293,
       12.79411477, 10.25202369, 15.02009532, 18.38205032,  9.72346728,
       20.41323236, 12.70394487, 15.63766415,  7.41798219, 11.05208589,
        6.747258  ,  9.14953341, 15.35498556, 13.40050592, 18.85859126,
       10.79955635, 11.87421516,  8.38372393, 15.35246705, 15.09567768,
        8.79042663, 17.10766936, 14.1826043 , 13.34071729, 13.36778098,
       12.98737529,  9.79898368,  4.4665751 ,  8.52960905, 19.63843716,
       12.15420636,  9.43019772, 11.98414771,  5.17877424, 13.79475266,
       13.08125123, 16.92249986, 18.01793184, 19.95433436, 18.3864468 ,
       19.31574188, 13.70921718, 13.68188797, 11.69709702,  8.57963189,
       10.23699322, 12.56540105, 10.53332351,  8.26615735,  7.91523269,
       13.31146616, 17.20375976, 14.68640758, 21.28425217,  8.74745585,
        6.60685705, 12.01629832, 11.53684936, 10.88501284, 14.13829945,
        9.57142918, 16.16677681, 15.7738885 , 16.92012773, 14.85222252,
       13.55866925, 17.14236581, 12.78103902, 17.7621833 , 13.70691092,
       11.6338656 , 20.85113317, 16.03620697, 10.44088105,  3.71953797,
       11.12778414,  5.01807482, 14.8619857 , 13.42524304, 12.28496588,
        5.16971181,  7.69245532, 14.96727853, 15.78148842, 19.05567995,
       19.04576299, 18.59296131,  3.60840341, 19.62967421, 16.85390689,
       16.19303068, 12.02164492, 14.38113959, 16.85239066,  5.87955958,
       13.73203992, 15.73246867, 13.97539436, 10.2781424 , 10.9668294 ,
       13.18265553, 14.85158176, 10.17829978, 12.80963777,  9.44837461,
       13.36371652, 10.47613695, 18.64265183, 15.25726285, 10.52927693,
       16.40426266, 15.58389986, 10.5119744 , 15.22653899, 12.93890663,
        6.34212024,  6.0849373 , 13.83595114, 10.32457177, 14.02921305,
       12.70179283, 14.41148917, 13.20394776, 16.363831  ,  9.92654017,
       16.71789749, 11.39696826, 14.62471545, 13.49129944, 12.28285735,
       10.00167712, 17.12767042, 12.42826841, 11.65028506, 10.9181452 ,
       20.58887904,  8.26906504, 19.28072494, 11.30706351, 12.01570728,
        7.18694058, 17.89645499,  7.33420575, 10.26238824,  9.25146176,
       16.17674928,  6.63492306,  8.36950564, 12.69897553, 18.16026472,
        9.10608526, 13.32433717, 10.74946962, 11.9379325 , 15.29859299,
       15.10882199, 10.93944138, 13.28664449, 12.08177089,  8.58839832,
       15.71026217, 12.63543309, 13.17804816, 13.98793022,  9.37420804,
       10.25341623, 17.69918044, 14.3674367 , 14.32477119, 14.83222872,
        8.98630251, 11.43689193, 11.93525923,  6.37615739,  8.76801911,
        9.62248735,  9.7076685 , 13.90918419, 11.99128144, 11.05093045,
        1.8311276 , 13.44223993,  8.90600932, 16.84773684, 12.99159053,
       12.97688682, 15.15831713, 15.64211036, 12.29652253, 13.84545003,
       17.63892927, 16.65479441, 15.78916066, 12.78103542, 12.30659868,
       12.68816405, 18.12812991, 11.39661916, 15.60807061, 13.62237706,
       13.95243035, 14.53490264, 13.71174044, 15.06214748, 12.03109215,
       19.86987604, 12.29444819, 16.50679251, 11.00835237, 13.33417726,
       10.62531849, 10.18001634, 12.11893955,  6.7323057 , 10.94640432,
       14.72865132, 10.70084156, 12.79195205, 14.8241756 , 10.09386916,
        5.14102354, 20.96606676, 15.82178402,  6.06734788, 19.48485695,
       13.90630135, 15.611249  , 18.72026328, 12.18891354, 12.12786874,
       11.38578821, 13.52997699, 14.73164897,  5.81275013, 15.09142067,
       11.85469253, 16.20836972, 18.56880869, 14.41535334, 12.09028505])

In [49]:
from sklearn.metrics import mean_absolute_error

In [50]:
mean_absolute_error(ld_train2['Interest.Rate'],predicted_ir)

1.6278267948887137

In [60]:
from sklearn.metrics import mean_squared_error
import math
math.sqrt(mean_squared_error(ld_train2['Interest.Rate'],predicted_ir))

2.041171856641195

We know the tentative performance now, lets build the model on entire training to make prediction on test/production

In [51]:
x_train=ld_train.drop('Interest.Rate',axis=1)
y_train=ld_train['Interest.Rate']

In [52]:
lm.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [54]:
test_pred=lm.predict(ld_test)

In [57]:
test_pred

array([16.64053907, 15.92333314, 10.62442413,  3.68858934, 15.37668977,
        6.95695006, 15.77478061, 10.69584154, 15.99366692, 12.40004029,
        9.69621957, 14.90849621, 11.4279855 , 13.69760261, 13.45711858,
       18.36541882, 10.38001928, 15.75628145, 13.77538126, 13.84583946,
       22.3804198 , 17.45250815, 12.11902659, 14.84771773,  9.69203293,
       11.16430968, 13.14635014, 19.40592245, 12.00567735, 16.98946667,
       15.2551322 , 15.42213149, 12.30174956, 15.17708654, 13.75654827,
       14.19966644, 19.47712689, 11.2401567 , 12.01449614, 16.97399154,
       14.14450509, 11.09451828, 14.64373925, 13.10928142, 15.60021088,
       17.02336061, 14.86391602, 17.02627341, 16.91087168, 10.43750086,
       13.59113402, 19.76538598,  9.98291996, 19.65614199, 15.59732627,
       14.86330077, 17.53029645, 14.36354332, 10.89850493, 14.43726354,
       13.12110203, 16.97895444,  8.80954649, 14.55515897, 10.54106043,
       11.46056567, 12.84163797, 14.99689981, 12.05873592, 14.48464381,
       14.39157873, 17.4405373 , 20.71397974, 19.59077596, 13.35791246,
       16.98340094, 11.09563328,  9.94849485, 16.60777596,  6.89213275,
       16.05250844, 10.3564702 ,  9.50901537, 12.98355283, 13.98908878,
        9.46233524,  9.32422713, 13.94859415,  8.56570697, 11.78069493,
       12.19882738, 16.95059142, 13.67449969, 17.84808986, 14.23761374,
       10.40891256, 10.20098383, 17.13003938, 16.90623348, 13.8235561 ,
       15.32622516, 13.46801871, 15.22444431, 14.55363376, 13.52465177,
       12.27586905,  8.8171075 , 11.88671351, 10.85957174, 13.96332966,
       11.70882387, 20.20265701,  7.58187376, 16.73283074, 15.54716743,
        6.54034298, 13.29368997, 14.29826393, 15.0965198 ,  9.28832524,
       16.12334997, 14.32511302,  8.98022453, 12.97415886, 17.3710332 ,
       15.97604611,  8.44850913, 18.54011339,  3.40844497, 12.2074236 ,
       13.74846462, 13.13046845, 10.04461314, 14.1147719 , 18.73075122,
       14.14020264, 15.54664877, 13.39644071, 12.94717159,  9.53862392,
       14.12718299, 14.39737469, 11.69314841, 11.50040734, 11.65376883,
       16.91422885, 11.96358039, 10.56307829,  7.80502167, 10.11550911,
       11.43584323, 13.87875516, 10.34077801,  7.71931341, 13.98454941,
       12.21293971, 11.10750405,  7.98055938, 14.53086903, 14.57405613,
       14.10588939,  7.13272821, 15.10975343, 17.99637384, 15.25059609,
       15.98874991, 14.75205266, 10.07123162, 13.62565496, 16.65521601,
       14.60744559, 12.86003618,  6.57284919, 13.2830544 , 10.34677098,
       10.48459878, 11.09986818,  8.57035826,  9.6291262 , 11.6486142 ,
       12.81121192, 14.43581167, 10.38051741, 13.37012586, 10.8471006 ,
       14.00386533,  8.60062218, 17.85520605, 13.64672062,  9.47069636,
        7.66451813, 11.47429032, 16.02076972, 15.45212115, 15.05727663,
       18.00705991,  9.20067811, 18.84809188,  4.82524409, 13.89889736,
       14.52184212, 12.44743108, 18.02337663, 16.68420845,  4.74185113,
       15.56729254, 15.39238317, 19.69295883, 16.42509559,  8.7820325 ,
       14.65744065, 11.70797104, 12.11800323, 14.60243803, 10.48626323,
       12.34289717, 13.25708899, 20.68846638, 13.84592725,  6.32855647,
        5.64735532,  9.41776166, 17.93615533, 11.32923263, 15.85637486,
       14.59990411, 11.55443929, 11.63818146, 12.54845254, 10.780471  ,
       11.66129397, 14.90088138, 12.71230339, 15.84811507,  7.58104125,
       11.30671834, 13.25603086, 10.44777997,  4.81898933, 19.9414846 ,
       14.17198279, 19.80310622,  7.86767101, 20.75071162, 12.82182143,
       12.26037667, 20.12111571,  9.21738625,  7.69132981, 12.97951592,
       16.01927013, 15.06000054, 10.75502913, 13.9848295 , 15.14984949,
       18.85541698, 11.36811285,  8.03467625, 12.67484186, 18.04361929,
       16.38121965, 13.41516634, 18.43601275,  7.47136962, 19.87647628,
        8.75384998, 15.69616577, 10.81938693,  4.54610218, 14.91430431,
       13.48165351, 13.12785854,  6.80581591, 10.66337431,  9.80939662,
        6.5172182 , 14.17256962, 13.77596569, 10.92236274, 14.60964513,
       17.11351851, 20.25917552, 16.2936166 , 14.25305956, 15.9711771 ,
        8.15455304, 12.75316232, 13.46938871, 10.92291681, 11.94514091,
       14.4647272 , 10.09840411, 14.56500006,  9.62942329,  7.11246406,
       15.82276831, 11.20235314, 14.50544941, 17.84395411, 13.04754169])

We can write these to a csv file for submission like this :

In [59]:
pd.DataFrame(test_pred).to_csv("mysubmission.csv",index=False)

# Ridge  Regression

In [ ]:
from sklearn.linear_model import Ridge,Lasso
from sklearn.model_selection import GridSearchCV

In [ ]:
lambdas=np.linspace(1,100,100)

In [ ]:
lambdas

In [ ]:
params={'alpha':lambdas}

In [ ]:
params

In [ ]:
model=Ridge(fit_intercept=True)

In [ ]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [ ]:
grid_search.fit(x_train,y_train)

In [ ]:
grid_search.best_estimator_

In [ ]:
import warnings
warnings.filterwarnings('ignore')
grid_search.cv_results_

 if you want you can now fit a ridge regression model with obtained value of alpha , although there is no need, grid search automatically fits the best estimator on the entire data, you can directly use this to make predictions on test_data. But if you want to look at coefficients , its much more convenient to fit the model with direct function

Using the report function given below you can see the cv performance of top few models as well, that will the tentative performance

In [ ]:
def report(results, n_top=3):
    for i in range(1, n_top + 1):
        candidates = np.flatnonzero(results['rank_test_score'] == i)
        for candidate in candidates:
            print("Model with rank: {0}".format(i))
            print("Mean validation score: {0:.8f} (std: {1:.5f})".format(
                  results['mean_test_score'][candidate],
                  results['std_test_score'][candidate]))
            print("Parameters: {0}".format(results['params'][candidate]))
            print("")

In [ ]:
report(grid_search.cv_results_)

In [ ]:
a = np.arange(-5,6)
a

In [ ]:
np.flatnonzero(a)

In [ ]:
test_pred=grid_search.predict(ld_test)

In [ ]:
pd.DataFrame(test_pred).to_csv("mysubmission.csv",index=False)

## For looking at coefficients

In [ ]:
ridge_model=grid_search.best_estimator_

In [ ]:
ridge_model.fit(x_train,y_train)

In [ ]:
list(zip(x_train1.columns,ridge_model.coef_))

## Lasso Regression

In [ ]:
lambdas=np.linspace(1,10,100)
model=Lasso(fit_intercept=True)
params={'alpha':lambdas}

In [ ]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')

In [ ]:
grid_search.fit(x_train,y_train)

In [ ]:
grid_search.best_estimator_

you can see that, the best value of alpha comes at the edge of the range that we tried , we should expand the trial range on that side and run this again

In [ ]:
lambdas=np.linspace(.001,2,100)
params={'alpha':lambdas}
params

In [ ]:
grid_search=GridSearchCV(model,param_grid=params,cv=10,scoring='neg_mean_absolute_error')
grid_search.fit(x_train,y_train)

In [ ]:
grid_search.best_estimator_

In [ ]:
report(grid_search.cv_results_,3)

In [ ]:
lasso_model=grid_search.best_estimator_

In [ ]:
lasso_model.fit(x_train,y_train)

In [ ]:
list(zip(x_train.columns,lasso_model.coef_))

# Logistic Regression

In [ ]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [ ]:
train_file=r'/Users/ed/Dropbox/Python/Dataset/Data/Data/rg_train.csv'
test_file=r'/Users/ed/Dropbox/Python/Dataset/Data/Data/rg_test.csv'
bd_train=pd.read_csv(train_file)

bd_test=pd.read_csv(test_file)


bd_test['Revenue.Grid']=np.nan
bd_train['data']='train'
bd_test['data']='test'
bd_test=bd_test[bd_train.columns]
bd_all=pd.concat([bd_train,bd_test],axis=0)

In [ ]:
bd_all['Revenue.Grid'].value_counts()

In [ ]:
list(zip(bd_all.columns,bd_all.dtypes,bd_all.nunique()))

In [ ]:
# REF_NO,post_code , post_area  : drop 
# children : Zero : 0 , 4+ : 4 and then convert to numeric
# age_band : dummies 
# status , occupation , occupation_partner , home_status,family_income : dummies
# self_employed, ` : dummies
# TVArea , Region , gender : dummies
# Revenue Grid : 1,2 : 1,0

In [ ]:
bd_all.drop(['REF_NO','post_code','post_area'],axis=1,inplace=True)

In [ ]:
bd_all['children']=np.where(bd_all['children']=='Zero',0,bd_all['children'])
bd_all['children']=np.where(bd_all['children'][:1]=='4',4,bd_all['children'])
bd_all['children']=pd.to_numeric(bd_all['children'],errors='coerce')

In [ ]:
bd_all['Revenue.Grid']=(bd_all['Revenue.Grid']==1).astype(int)

In [ ]:
cat_vars=bd_all.select_dtypes(['object']).columns

cat_vars

In [ ]:
for col in cat_vars[:-1]:
    dummy=pd.get_dummies(bd_all[col],drop_first=True,prefix=col)
    bd_all=pd.concat([bd_all,dummy],axis=1)
    del bd_all[col]
    print(col)
del dummy

In [ ]:
bd_all.shape

In [ ]:
bd_all.info()

In [ ]:
bd_all.isnull().sum()

In [ ]:
bd_all.loc[bd_all['children'].isnull(),'children']=bd_all.loc[bd_all['data']=='train','children'].mean()

In [ ]:
bd_train=bd_all[bd_all['data']=='train']
del bd_train['data']
bd_test=bd_all[bd_all['data']=='test']
bd_test.drop(['Revenue.Grid','data'],axis=1,inplace=True)

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import GridSearchCV

In [ ]:
params={'class_weight':['balanced',None],
        'penalty':['l1','l2'],
        'C':np.linspace(0.01,1000,10)}

In [ ]:
model=LogisticRegression(fit_intercept=True)

In [ ]:
grid_search=GridSearchCV(model,param_grid=params,cv=5,scoring="roc_auc")

In [ ]:
x_train=bd_train.drop('Revenue.Grid',axis=1)
y_train=bd_train['Revenue.Grid']

In [ ]:
grid_search.fit(x_train,y_train)

In [ ]:
grid_search.best_estimator_

In [ ]:
logr=grid_search.best_estimator_

In [ ]:
report(grid_search.cv_results_,5)

In [ ]:
logr.fit(x_train,y_train)

In [ ]:
cutoffs=np.linspace(0.01,0.99,99)

cutoffs

In [ ]:
train_score=logr.predict_proba(x_train)[:,1]

real=y_train

In [ ]:
train_score>0.2

In [ ]:
KS_all=[]

for cutoff in cutoffs:
    
    predicted=(train_score>cutoff).astype(int)

    TP=((predicted==1) & (real==1)).sum()
    TN=((predicted==0) & (real==0)).sum()
    FP=((predicted==1) & (real==0)).sum()
    FN=((predicted==0) & (real==1)).sum()
    
    P=TP+FN
    N=TN+FP
      
    KS=(TP/P)-(FP/N)
    
    KS_all.append(KS)

# try out what cutoffs you get when you use F_beta scores with different values of betas [0.5 , 5]
# beta < 1 : you will get cutoff , which is high ( favours precision)
# beta > 1 : you will get cutoff , which is low (favours precision )

In [ ]:
mycutoff=cutoffs[KS_all==max(KS_all)][0]
mycutoff

In [ ]:
logr.intercept_

In [ ]:
list(zip(x_train.columns,logr.coef_[0]))

if you simply had to submit probability scores , you could do this

In [ ]:
test_score=logr.predict_proba(bd_test)[:,1]
pd.DataFrame(test_score).to_csv("mysubmission.csv",index=False)

In [ ]:
test_score

if you had to submit hardclasses , you can apply the cutoff obtained above and then submit

In [ ]:
test_classes=(test_score>mycutoff).astype(int)

In [ ]:
a=pd.DataFrame(test_classes,columns=['cls'])
a['cls'].value_counts()
#a.info()

In [ ]:
np.unique(test_classes,return_counts=True)

In [ ]:
pd.DataFrame(test_classes).to_csv("mysubmission.csv",index=False)